body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: black;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.header-content h1 {
    margin: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #555;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #555;
    visibility: hidden;
    transition: all 0.3s;
}

.navbar a:hover {
    color: #000;
}

.navbar a:hover::before {
    visibility: visible;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
    gap: 40px;
}

.content-item {
    flex-basis: calc(25% - 10px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.responsive-image {
    width: 100%;
    display: block;
    transition: transform 0.4s;
}

.content-item:hover .responsive-image {
    transform: scale(1.1);
}

.hover-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s;
    font-size: 20px;
}

.content-item:hover .hover-card {
    opacity: 1;
}

.footer {
    padding: 40px;
    text-align: center;
    font-size: 16px;
}

.footer a {
    color: #555;
    text-decoration: underline;
}

.footer a:hover {
    color: #000;
}
