.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: grey;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.3s;
  font-family: 'Raleway', sans-serif; /* Change this to any font you like */
  transition: all 0.5s;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.navbar {
  background-color: white;
  overflow: auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
}

.navbar li {
  float: right;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  z-index: 2;
}
#canvas-container {
  margin-left: 100px;
  margin-right: 100px;
}

